<div class="cont">
  <div class="container">
    <h3>Enter a word</h3>
    <div class="input-container">
      <mat-form-field appearance="outline">
        <input matInput [(ngModel)]="word">
      </mat-form-field>
      <button mat-stroked-button (click)="submit()">Submit</button>
    </div>

    <div *ngIf="result" class="result-container">
      <h3>Your result for word "{{result.word}}":</h3>
      {{(result.explanation) ?? result.message}}
    </div>

    <mat-divider></mat-divider>

    <app-points-guide></app-points-guide>

  </div>
</div>
