<div class="cont">
  <div class="container">
    <h3>Add a valid word</h3>
    <div class="input-container">
      <mat-form-field appearance="outline">
        <input matInput [(ngModel)]="word">
      </mat-form-field>
      <button mat-stroked-button (click)="addWord()">Add</button>
    </div>

    <mat-expansion-panel (opened)="showWords = true"
                         (closed)="showWords = false">
      <mat-expansion-panel-header>
        <mat-panel-title>{{showWords ? 'Hide' : 'Show'}} all valid words</mat-panel-title>
      </mat-expansion-panel-header>
      <app-list-valid-words></app-list-valid-words>
    </mat-expansion-panel>
  </div>
</div>
