.cont {
  padding-top: 80px;
}

::ng-deep mat-form-field .mat-form-field-flex .mat-form-field-infix {
  padding: 2px 0 9px 0 !important;
}

::ng-deep mat-form-field .mat-form-field-flex {
  background-color: white;
  border-radius: 4px;
}
