<div class="cont">
  <div class="container">
    <h3>Add a valid word</h3>
    <form class="input-container" (ngSubmit)="addWord()">
      <mat-form-field appearance="outline">
        <input matInput [(ngModel)]="word" [ngModelOptions]="{standalone: true}">
      </mat-form-field>
      <button mat-stroked-button type="submit">Add</button>
    </form>

    <mat-expansion-panel (opened)="showWords = true"
                         (closed)="showWords = false">
      <mat-expansion-panel-header>
        <mat-panel-title>{{showWords ? 'Hide' : 'Show'}} all valid words</mat-panel-title>
      </mat-expansion-panel-header>
      <app-list-valid-words></app-list-valid-words>
    </mat-expansion-panel>
  </div>
</div>
