<h3>Points guide</h3>

<!-- Table -->
<mat-table [dataSource]="datasource">

  <!-- Points -->
  <ng-container matColumnDef="points">
    <mat-header-cell *matHeaderCellDef>Points</mat-header-cell>
    <mat-cell *matCellDef="let p">{{p.points}}</mat-cell>
  </ng-container>

  <!-- Letters -->
  <ng-container matColumnDef="letters">
    <mat-header-cell *matHeaderCellDef>Letters</mat-header-cell>
    <mat-cell *matCellDef="let p">{{p.letters}}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="['points', 'letters']" class="table-row"></mat-header-row>
  <mat-row *matRowDef="let row; columns: ['points', 'letters']"></mat-row>

</mat-table>

<!-- Penalty -->
<p>Penalty for invalid words is -10 points.</p>
