<div class="cont">
  <div class="container">
    <h3>Enter a word</h3>
    <form class="input-container" (ngSubmit)="submit()">
      <mat-form-field appearance="outline">
        <input matInput [(ngModel)]="word" [ngModelOptions]="{standalone: true}">
      </mat-form-field>
      <button mat-stroked-button type="submit" [disabled]="!word">Submit</button>
    </form>

    <div *ngIf="result" class="result-container">
      <h3>Your result for word "{{result.word}}":</h3>
      {{(result.explanation) ?? result.message}}<br>
      Points for this word: {{result.points ?? 0}}<br>
      Total points: {{totalPoints}}
    </div>

    <mat-divider></mat-divider>

    <app-points-guide></app-points-guide>

  </div>
</div>
