<div class="cont">
  <div class="container">

    <!-- Title -->
    <h2>Play</h2>
    <mat-divider></mat-divider>

    <!-- Enter word -->
    <h3>Enter a word</h3>
    <form class="input-container" (ngSubmit)="submit()">
      <mat-form-field appearance="outline">
        <input matInput [(ngModel)]="word" [ngModelOptions]="{standalone: true}">
      </mat-form-field>
      <button mat-stroked-button type="submit" [disabled]="!word">Submit</button>
    </form>

    <!-- Result -->
    <div *ngIf="result" class="result-container">
      <h3>Your result for word "{{result.word}}":</h3>
      {{result.message}}<br>
      Points for this word: {{result.points}}<br>
      Total points: {{totalPoints}}

      <!-- History -->
      <div *ngIf="history.length > 0" class="history-container">
        Previous words:
        <p *ngFor="let word of history">
          {{word.word}}: {{word.points}} points
          <br>
        </p>
      </div>
    </div>

    <!-- Divider -->
    <mat-divider></mat-divider>

    <!-- Points guide -->
    <app-points-guide></app-points-guide>

  </div>
</div>
